<% include ./partials/boilerplate %>
<h1>Welcome To Student Management </h1>
<br />
<a class="box" href='/students'>students</a>
<a class="box"href='/classes'>classes</a>

<% include ./partials/end %>
