<h1>Welcome to student management</h1>


<% students.forEach(student => { %>
<div class="student">
    <h4>
        <a href="<%= `/students/${student.id}` %>">
            <%= student.title %>
        </a>
    </h4>
    <p><%= student.description %></p>
</div>
<% }) %>