<% include ../partials/boilerplate %>


<form class="editcard" action="/students" method="POST">
    <h1>Create a student</h1>
    <div class="edit_form">
        <label for="student_name">Name</label>
        <input id="student_name" type="text" name="student_name" value="" />
    </div>
    <div class="edit_form">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" value="" />
    </div>
    <div class="edit_form">
        <label for="gender">Gender</label>
        <input id="gender" type="text" name="gender" value="" />
    </div>
    <div class="edit_form">
        <label for="phone_number">Mobile #</label>
        <input id="phone_number" type="text" name="phone_number" value="" />
    </div>
    <div>
        <button type="submit" class="btn">Save</button>
    </div>
    <div>
        <a class="link" href="/students">Cancle</a>
    </div>

</form>



<% include ../partials/end %>
