
<% include ../partials/boilerplate %>
<div class="editcard">
    <div class="edit_form">
        Student Id: <%=  student.id %>
    </div>
    <div class="edit_form">
        Name: <%= student.student_name %>
    </div>
    <div class="edit_form">
        Email: <%= student.email %>
    </div>
    <div class="edit_form">
        Mobile #: <%= student.phone_number%>
    </div>
    <div class="actions">
        <a class="btn"href="/students">Back to Students</a>
    </div>

</div>
<% include ../partials/end %>
