body {
    font-family: 'Source Sans Pro', sans-serif;
    align-items: stretch;
    min-height: 100vh;
    background-repeat: repeat;
    background-color: #2b303b;
    margin: 0 auto;
    display: block;
    width: 1140px;
}


.card {
    border: 5px solid white;
    width: 350px;
    border-radius: 5px;
    background: #ffffff;
    margin: 10px;
    font-style: normal;
    float: left;

}
.imgbackground {
    width: 350px;
    height: 200px;
    background: #6bbcd4;
}

.contain {
    display: inline-block;
    color: black;
    background: white;
    width: 350px;
    font-size: 20px;
    color: #5499C7;
}

.name {
    color: #99E6D9;
}
.linkback {
    text-align: left;
    margin-right: 150px;
    position: relative;
    font-size: 30px;
    text-decoration: none;

}

.student_show {
    border: 1px solid  white;
}
.edit_form {
    display: block;
    margin: 10px;
    text-align: center;

}

.edit {
    font-size: 24px;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #58D68D;
    border-radius: 13px;
    padding: 5px 24px;
    color: #eeeeee;
}

.btn {
    font-size: 24px;
    border: 1px solid #ddd;
    background: #EC7063;
    border-radius: 13px;
    padding: 7px 24px;
    color: #eeeeee;
    margin-top: 10px;

}
h1 {
    color: cornflowerblue;
    margin-left: 400px;
    margin-top: 150px;
}
.editcard {
    border-radius: 5px;
    background: #ffffff;
    font-style: normal;
    text-align: center;
    margin-top: 200px;
    color: #5499C7;
    font-size: 25px;
    height: 300px;

}
.link {
    font-size: 30px;
    margin-top: 10px;
    color: cornflowerblue;
    text-decoration: none;

}
.update {
    border-radius: 5px;
    background: #ffffff;
    font-style: normal;
    text-align: center;
    margin-top: 200px;
    color: #5499C7;
    font-size: 25px;
    height: 300px;
    margin-left: 600px;

}
.back {
    float: right;
    margin-left: 70px;
    font-size: 30px;
    text-decoration: none;
    color: cornflowerblue;
    margin-right: 50px;
}
