<% include ../partials/boilerplate %>
<form class="editcard" action="/classes" method="POST">
    <h1>Create a classes</h1>
    <div class="edit_form">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="" />
    </div>
    <div class="edit_form">
        <label for="instructor">Instructor</label>
        <input id="instructor" type="text" name="instructor" value="" />
    </div>
    <div class="edit_form">
        <label for="start_date">Start_date</label>
        <input id="start_date" type="text" name="start_date" value="" />
    </div>
    <div class="edit_form">
        <label for="end_date">End_date</label>
        <input id="end_date" type="text" name="end_date" value="" />
    </div>
    <div>
        <button type="submit" class="btn">Save</button>
    </div>
    <div>
        <a class="link" href="/classData">Cancle</a>
    </div>
</form>
<% include ../partials/end %>
